body{
	margin:0 auto;
	background: #DCDCDC;
}
.header {
	display: flex;
	justify-content: flex-end;
	margin-right: 100px;
    background-color: 

}
.header p {
	cursor: pointer;
	padding: 20px;
}
.header p:hover{
	font-size: 20px;
	 color:#696969;
}
.center{
	display: flex;

}
.text {
 width: 50%;
 margin-right: 200px;
 margin-top:20px;
}
.photo img{
	width: 40%;
	border-radius: 30px;
	margin-left: 180px;
	margin-top:10px;
}
.skills{
	display: block;
	text-align: center;
}
.pokazatel{
	width: 600px;
	display: inline-block;
}
.contact{
	display: none;
	justify-content: center;
}
.belifon{
	display: flex;
	justify-content: space-around;
	background: #F8F8FF;
	width: 900px;
	border-radius: 5px;
}
.oformlenie input{
	display: block;
	margin:15px;
	border-radius: 10px;
	width: 250px;
	background-color:#DCDCDC;
	 color: #2F4F4F;
	 outline: none;
	 box-sizing: border-box;
	border: 3px solid #ccc;
}
textarea{
	border-radius: 15px;
    border: 3px solid #ccc;
	background-color:#DCDCDC;
	 outline: none;
	 color: #2F4F4F;
}
input[type=submit] {
	font-size: 20px;
	background-color: #A9A9A9;
	font-weight: bold;
}
input[type=submit]:hover {
	font-size: 20px;
	background-color: #DCDCDC;
	font-weight: bold;
}
input[type=text]:hover {
	
	background-color: #778899;
	
}
textarea:hover {
	
	background-color: #778899;
	
}
.oformlenie{
	text-align: center;
}